@font-face {
    font-family: Andale;
    src: url(font/ANDALEMO.woff);
}

body {
    font-family: Andale;
    margin: 0px;
    padding: 250px 0px 0px 0px;
    overflow-y: scoll; /* overflow: hidden prevents full scrollbar in IE */

    background-image: url(img/bg.png);
    
    background-attachment: fixed;
    background-size: cover;
}
    
div#header {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 96px;
    background-color: #272932dd;
    overflow: hidden;
    display: inline;
}

#ul_nav li {
    color: #fff;
    display: inline;
    padding-left:16px;
    padding-right: 16px;
    font-size: 150%;
}

div#brand {
    padding:16px 16px;
}

div#nav { 
    position:absolute;
    right:30px;
    /* bottom: 6px */
}


@font-face {
    font-family: MN20;
    src: url(font/modernno20.ttf);
}

div#titleContainer{
    height: 750px;
}

div#subtitle{
    color: #ffffff;
    font-size: 300%;
    position:absolute;
    bottom: 280px;
    left:100px
}

div#title{
    margin-top: -2% ;
    font-family: MN20;
    color: #ffffff;
    font-size: 1000%;
    font-size-adjust: inherit;
    position:absolute;
    bottom:-80px;
    left:100px
}


div#headingContainer{
    height: 100px
}

div#heading{
    margin-top: -2% ;
    font-family: MN20;
    color: #ffffff;
    font-size: 1000%;
    font-size-adjust: inherit;
    position:absolute;
    bottom: 431px;
    left:50px
}

div#headingDrop{
    margin-top: -2% ;
    font-family: MN20;
    color: #25242c;
    font-size: 1000%;
    font-size-adjust: none;
    position:absolute;
    top: 254px;
    left:50px;
    overflow: hidden;
    clip-path: polygon(0% 78%, 100% 78%, 100% 100%,  0% 100%)
}

div#arrow{
    color: #ffffff;
    font-size: 300%;
    position:absolute;
    bottom: 150px;
    left:575px
}

div#splash {
    background-color: #ffffff;
    padding:50px;
    overflow:hidden
}

#splash p {
    color: #888888;
    font-size: 150%
}

img#brand {
    width:64px;
    height:64px;
    display: inline;
    float:left;
}

img#line {
    max-width:300%;
    height:50%;
    width:auto\9;
    padding:0px 40px;
    /* display: inline; */
    /* float: left; */
}

/* unvisited link */
a {
    text-decoration: none;
} 
    
#content { height: 100%; overflow: auto; }