body {
    font-family: monospace;
    margin: 0px;
    padding: 100px 0px 0px 0px;
    overflow-y: scoll; /* overflow: hidden prevents full scrollbar in IE */
}
    
div#header {
    color: #ffffff;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #272932;
    overflow: hidden;
}

div#brand {
    padding:16px 16px;
}

img#brand {
    width:64px;
    height:64px;
}
    
#content { height: 100%; overflow: auto; }